/* About */

#about {
	padding : 0 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(36, 36, 36);
    justify-content: center;
}

.aboutme-h1 {
    color: var(--adanai_grey_10);
    font-weight: 500;
}
.text-photo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

.about-header {
    display: flex;
    flex-direction: row; /* Por defecto, el texto y la imagen estarán en fila */
    flex-wrap: wrap; /* Permite que los elementos se acomoden si no hay espacio */
    font-size: 20px;
    line-height: 1.8;
    color: #2c2c2c;
    text-align: left;
    padding: 30px;
    background: rgb(230, 230, 230);
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: center;
}
.about-text {
    width: 50%;
    min-width: 300px;
    padding: 20px;
    text-align: justify;
}

.about-photo {
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
@media (max-width: 1440px) {
    .about-header {
        flex-direction: column; /* Apila los elementos en columnas */
        text-align: center; /* Centra el texto */
        padding: 20px;
    }

    .about-text, .about-photo {
        width: 100%; /* Ambos elementos ocuparán el 100% del ancho */
    }

}

.about-text h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #1a1a1a;
    border-bottom: 2px solid #e0dcd5;
    display: inline-block;
    padding-bottom: 5px;
}

.about-text p {
    margin-bottom: 14px;
}

.about-text strong {
    color: var(--adanai_purple_100);
    font-weight: 600;
}

.signature {
    font-style: italic;
    color: #666;
    text-align: right;
}
