/* About */

#about {
	padding : 0 10px;
    background-color: #eeeeee;
    align-items: stretch;
    justify-content: center;
}

.aboutme {
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 15px;
    color: var(--adanai_grey_100);
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: "Lora", serif;
    border-bottom: 2px solid rgba(128, 128, 128, 0.308);
    width: 100%;
}
.text-photo {

    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
}

.about-text {
    font-size: 20px;
    line-height: 1.8;
    color: #2c2c2c;
    text-align: left;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
}


.about-photo {
    display: flex;
    padding: 20px 0;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
    justify-content: center; /* Center the image */
    position: relative; /* Enable positioning for overlap */
    background-color: white;
    border-radius: 8px;
    margin-top: 4px;
}


.about-text h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #1a1a1a;
    border-bottom: 2px solid #e0dcd5;
    display: inline-block;
    padding-bottom: 5px;
}
.about-text:hover {
    transform: translateY(-5px);
}

.about-text p {
    margin-bottom: 14px;
}

.about-text strong {
    color: var(--adanai_purple_100);
    font-weight: 600;
}

.signature {
    font-style: italic;
    color: #666;
    text-align: right;
}

.imagerow {

    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    
}

.imagerow img {
    
    max-height: 500px;
    object-fit: cover;
    padding-right: 50px;
    transition: opacity 0.5s ease-in-out; /* Animación de desvanecimiento */
}

.image-container img {
    max-width: 100%; 
    object-fit: contain; 
}

#about button {
    justify-items: right;
    margin: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 0%;
    z-index: 10;
}

#about button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: ease 0.3s;
}

#about button img {
    width: 40px;  /* Adjust as needed */
    margin: 5px;
}

#prevBtn {
    display: none;
}

#nextBtn {
    position: absolute; /* Overlap with the image */
    right: 0; /* Align to the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for perfect centering */
    z-index: 10; /* Ensure it is above other elements */
    height: 100%; /* Make the button as high as its container */
}
