#contact {
    background-color: rgb(170, 170, 170);
    font-family: "Lora", serif;
}

.contactme {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

}

.contactme p{
    color: var(--adanai_grey_10);
    padding-bottom: 20px;
    letter-spacing: 2px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.p1 {
    padding-top: 20px;
    font-style: italic;
    font-weight: bold;
}
.contact-form {
    background-image: url("img/rsc/contact_background.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;   
    padding: 100px;
}

form {
    font-family: var(--body_font);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    display: block; 
    margin-top: 10px; 
    padding: 10px 20px;
    background-color: var(--adanai_blue_100);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--adanai_purple_50);
}

form textarea {
    height: 150px;
}

#message {
    display: none;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal;
    margin-left: auto;
    margin-right: auto;
}

#message-text {
    margin: 0;
    color: white;
}
