body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h2 {
    text-align: center;
}
/* Barra de Navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1d62a7;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}


/* Presentación */
.presentacion {
    text-align: center;
    margin: 20px 0;
}

/* Sección de Música */
#music {
    padding: 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.music-container {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: pink; 
    padding: 20px;
    
}


/* Selector de Álbumes */
.album-selector {
    justify-content: center;
    padding: 10px;
    width: 175px;
    background-color: green; 
    display: flex;
    top: 0;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: none; /*hace la barra de scroll invisible For Firefox */
}

.album-selector::-webkit-scrollbar {
    display: none; /* hace la barra de scroll invisible For Chrome, Safari, and Opera */
}
.album-selector h3 {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 10;
}

.album-selector img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.album-selector img:hover {
    transform: scale(0.90);

}
.album-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Reproductor */
.player{
    width: auto;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: purple;

}

/* About */
.imagerow {
    display: flex;              /* Coloca las imágenes en una fila */
    justify-content: flex-start; /* Alinea las imágenes al principio */
    gap: 10px;                  /* Espacio entre imágenes */
    padding: 10px;
    overflow-x: auto;           /* Permite el desplazamiento horizontal */
    white-space: nowrap;        /* Asegura que las imágenes no se envuelvan en una nueva línea */
}

.imagerow img {
    width: auto;
    height: 450px;               /* Tamaño fijo de las imágenes */
    object-fit: cover;          /* Asegura que la imagen cubra su espacio sin deformarse */
}
