/* Sección de Música */
#music {
    padding-bottom: 50px;
    padding-top: 50px;
}

.music-header {
    justify-content: center;
    text-align: center;

    /* background: linear-gradient(to bottom, var(--adanai_blue_50), var(--adanai_pink_20)); */
}

.music-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.music-h1 {
    color: var(--adanai_grey_90);
    font-weight: 500;
}

/* Selector de Álbumes */
.album-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
    gap: 5px; /* Adds space between grid items */
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.308);
    border-radius: 6px; /* Adds rounded corners */
    max-width: 100%; /* Ensures the container doesn't exceed the available space */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
    overflow-x: auto; /* Adds horizontal scrollbar if content overflows */
    white-space: nowrap; /* Prevents wrapping of grid items */
}

.album-selector::-webkit-scrollbar {
    display: none; /* hace la barra de scroll invisible Chrome, Safari, and Opera */
}

.album-selector h3 {
    color: var(--adanai_grey_70);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: clamp(10px, 3vw, 20px);
    min-width: 120px;
}

.album-selector img {
    padding: 5px;
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    max-height: 100%; /* Ensures the image height doesn't exceed the container */
    object-fit: contain; /* Scales the image to fit within the container while maintaining aspect ratio */
}

.album-selector img:hover {
    transform: scale(0.90);

}
.album-list {
    /* background-color: rgb(110, 255, 110); */
    list-style: none;
    padding: 10px;
    max-height: 600px;
    max-width: 200px;
    overflow-y: auto;
    scrollbar-width: none; /*hace la barra de scroll invisible Firefox */
}

/* Reproductor */
.player-container {
    position: relative;
    display: none;
    align-content: center;
    padding: 5px;
    width: 100%;
    /* background-color: yellow; */

}

.player {
    border: none;
    width: 100%;
    height: 100%;
}

/* Description */
.description-container {
    display: none; /* Initially hidden */
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.308);
    border-radius: 6px;
    width: 25%;
    padding: 10px;
    /* background-color: var(--adanai_grey_10);  */
}

@media (max-width: 1440px) {
    .music-container {
        display: flex; /* Ensure flex layout */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        margin: 0 auto; /* Center the container itself */
    }
    .album-container {
        display: flex;
        padding: 10px;
        margin-bottom: 20px; /* Add some space below the album container */
    }
    .description-container,
    .player-container {
        width: 100%; /* Ensure child containers fill the available width */
        display: none;
        text-align: center;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.308);
        border-radius: 6px;
        height: 100vh; /* Fill the entire available height */
        justify-content: center;
    }
}
.album-title {
    text-align: center;
    padding: 10px;
}

.album-description{
    text-align: center;
    padding: 10px;
}

