
/* Sección de Música */
#music {
    padding-bottom: 50px;
    padding-top: 50px;
}

.music-header {
    justify-content: center;
    text-align: center;

    /* background: linear-gradient(to bottom, var(--adanai_blue_50), var(--adanai_pink_20)); */
}
.music-header h2 {
    font-size: 40px;
    font-weight: 1000;
    color: var(--adanai_grey_100);
    letter-spacing: 2px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.music-header p {

    font-style: italic;
    color: var(--adanai_grey_60);
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.308);
}
.music-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}


/* Selector de Álbumes */
.album-container {
    justify-content: center;
    display: flex;
    top: 0;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.308);
    border-radius: 6px; /* Added to make the border rounded */
}

.album-selector::-webkit-scrollbar {
    display: none; /* hace la barra de scroll invisible Chrome, Safari, and Opera */
}
.album-selector h3 {
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}


.album-selector img {
    padding: 5px;
    width: 120px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.album-selector img:hover {
    transform: scale(0.90);

}
.album-list {
    /* background-color: rgb(110, 255, 110); */
    list-style: none;
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: none; /*hace la barra de scroll invisible Firefox */
}

/* Reproductor */
.player-container {
    position: relative;
    display: none;
    width: 0%;
    align-content: center;
    overflow: hidden;
    padding: 5px;

    /* background-color: yellow; */

}

.player {
    border: none;
    width: 100%;
    height: 100%;
}

/* Description */
.description-container {
    display: none; /* Initially hidden */
    text-align: center;
    padding: 5vh 50vh;
    width: 100%;
    /* background-color: var(--adanai_grey_10);  */
    background-color: var(--adanai_blue_30)
}
.album-title {
    text-align: center;
    padding: 10px;
}

.album-description{
    text-align: center;
    padding: 10px;
}

