#contact {
    background-color: rgb(170, 170, 170);
    font-family: "Lora", serif;
}

.contactme {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

}
.contactme h1 {
    font-size: 40px;
    font-weight: 1000;
    margin-bottom: 15px;
    color: var(--adanai_grey_10);
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.contactme p{
    color: var(--adanai_grey_10);
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.p1 {
    font-size: 14px;
    font-style: italic;
}
.contact-form {
    background-image: url("img/rsc/contact_background.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;   
    padding: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

form button:hover {
    background-color: var(--adanai_purple_50);
}

form textarea {
    height: 150px;
}
